body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: burlywood;
}

.c {
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.c:hover {
  background-color: #2980b9;
}

#span{
  font-size :large;
  color: black;
  font-weight: 900;

}

